---

---

<form
  name="subscription"
  method="POST"
  data-netlify="true"
  class="subscription"
>
  <input
    type="hidden"
    name="form-name"
    value="subscription"
    netlify-honeypot="bot-field"
  />

  <label>Email: <input type="email" name="email" /></label>
  <button type="submit" class="sub_button">Subscribe</button>
</form>
<style>
  .subscription {
    padding: 10px;
  }
  .subscription label {
    font-size: large;
  }
  .subscription input {
    height: 30px;
    width: 400px;
    border: 10px;
    background-color: rgb(239, 238, 245);
    border-radius: 5px;
  }

  .sub_button {
    padding: 10px;
    background-color: aqua;
    border-radius: 5px;
    border: none;
  }
</style>
